<%= form_for routes.path("locale"), method: "post" do |f| %>
  <div class="field has-addons is-horizontal">
    <div class="control">
      <div class="select is-small">
        <%= f.select(:language, i18n.available_locales.each_with_object({}) { |lang, hash| hash[i18n.t(lang)] = lang }, options: {selected: i18n.locale}) %>
      </div>
    </div>
    <div class="control">
      <%= f.submit t("choose"), class: "button is-small is-primary" %>
    </div>
  </div>
<% end %>
