<h1 class="title">Delete <%= medication_schedule.long_name %>?</h1>

<%= form_for :medication_schedule, AdhDiary::App["routes"].path("destroy_medication_schedule", id: medication_schedule.id), method: :delete do |f| %>
  <%= f.submit "Confirm", name: "action", value: "confirm", class: "button is-danger" %>
  <%= f.submit "Cancel", name: "action", value: "cancel", class: "button is-link" %>
<% end %>