<div class="field is-horizontal">
  <input type="submit" <%== "name=#{opts[:name]}" if opts[:name]  %>
         class= <%== opts[:class] || "button button-primary" %>
          value="<%==  value %>" />
</div>