<div class="field is-horizontal">
  <div class="field-label is-normal">
  <label for="password" class="label"><%= rodauth.password_label %><%= rodauth.input_field_label_suffix %></label>
  </div>
  <div class="field-body">
    <div class="control has-icons-left">
  <%== rodauth.input_field_string(rodauth.password_param, "password", type: "password", autocomplete: rodauth.password_field_autocomplete_value, class: "input") %>
      <span class="icon is-small is-left">
        <i class="fas fa-key"></i>
      </span>
    </div>
  </div>
</div>
