<%= form_for :medication, url, method: http_method do |f| %>
  <%= form.name_input(f) %>
  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.submit action, class: "button is-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>