@import 'bulma/css/bulma.css';
@import 'unpoly/unpoly.css';

div.unused {
  background-image: url('../images/de.png');
  .foo {
    background-image: url('../images/en.png');
  }
  .bar {
    background-image: url('../images/favicon.ico');
  }

}
body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
}
